<body>
    <div>
        <p>
            Current Number: 0
        </p>
    </div>
    <div class="sideList">
        <ul>
            List of queue
            <li>0</li>
            <li>1</li>

        </ul>
    </div>
    <div>
        <div>
            <button (click)="pushNewNumber">
                Get number
            </button>
            <p>
                Display your number
            </p>
        </div>

        <button (click)="popFirstNumber">
            Call next
        </button>
    </div>
</body>


<button (click)="getData()">

    Get data
</button>